$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'HeaderAndFooter';

.wrapper {
	padding: 0px 25px;
	margin-bottom: 100px;
	p, ul, li {
		font-size: 1rem;
	}
}
h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	// font-variant: small-caps;
	padding-top: 30px;
}
footer {
	clear: both;
}
.question-green, .question-blue {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.question-blue {
    border-bottom: 1px solid $blue;     
}
.question-green {
    border-bottom: 1px solid $green;     
}
.answers {
	margin-top: 40px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}