$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'HeaderAndFooter';

.wrapper {
	padding: 25px;
	margin-top: -40px;

}

h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
footer {
	clear: both;
}

.question-green, .question-blue {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.question-blue {
    border-bottom: 1px solid $blue;     
}
.question-green {
    border-bottom: 1px solid $green;     
}


// .question-green {
// 	border-bottom: solid 1px $green;
// }
// .question-blue {
// 	border-bottom: solid 1px $blue;
// }
.answers {
	margin-top: 40px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

// Big Devices
@media screen and (min-width: 769px) {

	}