$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/** {
  border: dotted 1px red;
}*/
/*Hamburger Icon & Animation*/
#nav-icon4 {
  width: 45px;
  height: 40px;
  position: relative;
  bottom: 90px;
  right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #173896;
  border-radius: 11px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
  top: 14.4px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
  top: 28.8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 2px;
  background-color: #5DC2A5;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 31.2px;
  left: 2px;
  background-color: #5DC2A5;
}
.width {
  max-width: 960px;
  margin: 0 auto;
}
.brand {
  width: 100%;
}


.bg {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1B3699), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #1B3699, #ffffff);
  background-image:    -moz-linear-gradient(top, #1B3699, #ffffff);
  background-image:      -o-linear-gradient(top, #1B3699, #ffffff);
  background-image:         linear-gradient(to bottom, #1B3699, #ffffff);
  height: 400px;
}
.bg1 {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#1B3699));
  background-image: -webkit-linear-gradient(top, #ffffff, #1B3699);
  background-image:    -moz-linear-gradient(top, #ffffff, #1B3699);
  background-image:      -o-linear-gradient(top, #ffffff, #1B3699);
  background-image:         linear-gradient(to bottom, #ffffff, #1B3699);
  height: 400px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-header {
  margin-bottom: -20px;
}
.navbar-nav ul {
  margin: 0 auto;
  text-align: center;
}

.social { 
  display: none;
}

.about {
  padding: 20px;
}
/* Custom page footer */
.footer {
  padding-top: 129px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

/* Supporting marketing content */
.marketing {

  p + h4 {
    margin-top: 28px;
  }
}
/*MOBILE ONLY*/
.header {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 0px;
  }
  .brand {
    display: none;
  }
  .navbar-nav > li > a:hover {
      color: #5DC2A5;
/*      background-color: white;
*/  }
  #navbar-collapse > ul > li.active {
    border-bottom: solid 3px #21429A;
    border-radius: 5px;
  }
  .navbar-nav > ul {
    text-align: center;
    margin: 0 auto;
  }
  .social {
    display: inline-block;
    float: right;
  }
  .header {
    display: block;
  }
}


