$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'HeaderAndFooter';

.width {
  max-width: 980px;
  text-align: left;
  padding: 100px 15px;
}
.no-show {
	display: none;
}
.margin {
	padding: 100px 0px;
}
.background1, .background2 {
	background-color: #EAF5F5;
}
.tools, .strategy, .leadership {
	font-size: 1.8rem;
	font-family: 'Roboto', sans-serif;
}

ul {
	text-align: auto;
}


a.button {
		color: #464646;
		font-family: 'Roboto', sans-serif;
		font-size: 1.4rem;
		border: solid 1px #FFC704;
}
.button {
	width: 80%;
	height: 45px;
	border-radius: 5px;
	background-color: #FFCF28;
	margin-top: 10px;
}
.button:hover {
	background-color: #E8BC23;
}	

.buttons {
	margin: 0 auto;
	text-align: center;
}
 .block {
 	padding-top: 40px;
 	text-align: center;
 	margin: 0 auto;
 }
 .center {
	text-align: center;
	}
.disc, .five  {
	max-width: 80%;
	text-align: center;
}
.disc {
	padding-top: 60px;
}
body > div.container-fluid > div > div.strategy.width > div > div.col-xs-12.col-sm-6.center > ul > li, body > div.container-fluid > div > div.leadership.width > div > div.col-xs-12.col-sm-6.center > ul > li {
	text-align: left;
}
.strategy img, .leadership img {
	padding: 25px 0px;
}
@media screen and (min-width: 768px) {
 	a.button {
 		font-size: 1.6rem;
 	}

 	.button {
	width: 60%;
	}	
	.disc, .five {
		float: right;
		min-width: 270px;
		max-width: 100%;
	}
	.no-show {
		display: inherit;
		padding-left: 120px;
	}
	.clear {
		clear: both;
	}
	.mobile {
		display: none;
	}
 }