$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'HeaderAndFooter';
#pg3 {
h1 {
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
	text-align: center;
	font-size: 2rem;
}
.width {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.testimonials {
	font-family: $font;
	ul {
		list-style-type: circle;
		text-indent: auto;
	}
}
.glyphicon {
	display: hidden;
}
.content {
	padding: 40px 10px;
	border-bottom: none;
}
.border-bottom {
	height: 1px;
	background: $blue;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $blue));
}
.none {
	border-bottom: 0;
}
h2 {
	text-align: center;
	font-variant: small-caps;
	text-shadow: 0px 0px .5px;
	
}
.col-sm-7 {
	font-family: 'Roboto', sans-serif;
}
body > div.container-fluid > div > div > div.col-xs-12.col-md-7 {
	margin-top: 30px;
	font-size: 1rem;
}
body > div.container-fluid > div > div > div.col-xs-12.col-md-5 {
	margin-top: 30px;
}
.col-sm-5 p {
	font-family: $font;
}
blockquote {
	position: relative;
	padding: 30px 40px 0px 40px;
	text-align: center;
	border-left: none;
}
blockquote:before, blockquote p.quote:after {
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 1;
	font-size: 70px;
}
blockquote:before {
	top: 0;
	left: 0;
	content: "\201C";
	color: $green;
}
blockquote p.quote:after {
	bottom: 30;
	right: 0;
	content: "\201D";
	color: $green;
}
blockquote footer{
	background-color: none;
	display: block;
	background: none;
	padding-top: 20px;
	
}
@media screen and (min-width: 768px) {
	.glyphicon {
		color: $blue;
	}
	.testimonials {
		ul {
			list-style-type: none;
			text-indent: -1.3em;
		}
	}
		.col-xs-12.col-md-7 {
		font-size: 1.1rem;
		line-height: 2rem;
		padding-top: 10px;
	}
}
@media screen and (min-width: 992px) {

	h2 {
		text-align: left;
	}
	body > div.container-fluid > div > div > div.col-xs-12.col-md-5 {
		margin-top: 0;
	}
	blockquote {
		border-left: solid 5px #C0C0C0;
		border-top: none;
		padding: 30px 50px;
	}
	.content {
		padding: 40px 20px;
		border-bottom: dotted 1px $blue;
	}
	.none {
		border-bottom: 0;
	}
	.border-bottom {
		display: none;
	}
}
}
