// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'HeaderAndFooter';

.width {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.testimonials {
	font-family: $font;
	font-size: 20px;
}
.content {
	padding: 90px 10px;
	border-bottom: none;
}
.border-bottom {
    height: 1px;
    background: $blue;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $blue));
}
.none {
	border-bottom: 0;
}
h2 {
	text-align: center;
	font-variant: small-caps;
        text-shadow: 0px 0px .5px;
        font-size: 34px;
}
.col-sm-7 {
	font-family: 'Roboto', sans-serif;
}
body > div.container-fluid > div > div > div.col-xs-12.col-md-7 {
	margin-top: 30px;
	line-height: 35px;
}
body > div.container-fluid > div > div > div.col-xs-12.col-md-5 {
	margin-top: 30px;
}
.col-sm-5 {
	font-family: $font;
}
blockquote {
    position: relative;
    padding: 30px 40px 0px 40px;

    text-align: center;
    // border-top: solid 5px gray;
    border-left: none;
}
blockquote:before, blockquote p.quote:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1;
}
blockquote:before {
    top: 0;
    left: 0;
    content: "\201C";
    color: $green;
}
blockquote p.quote:after {
    bottom: 30;
    right: 0;
    content: "\201D";
    color: $green;
}
blockquote footer{
	background-color: none;
	display: block;
	background: none;
	padding-top: 20px;
	font-size: 1em;

}
/*Larger Viewports*/
@media screen and (min-width: 992px) {
	h2 {
		text-align: left;
	}
	body > div.container-fluid > div > div > div.col-xs-12.col-md-5 {
		margin-top: 0;
	}
	blockquote {
		border-left: solid 5px gray;
		border-top: none;
		padding: 30px 50px;
	}
	.content {
		padding: 90px 20px;
		border-bottom: dotted 1px $blue;
	}
	.none {
		border-bottom: 0;
	}
	.border-bottom {
		display: none;
	}
}
